.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}
.bottom-page_logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.address-group {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.address-list {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  text-align: center;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link-map {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.7;
}

.address-list__link-email {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.7;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list__link-tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.7;

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.social-links__title {
  margin-bottom: 20px;

  font-weight: 700;
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.links-list {
  display: flex;
  column-gap: 10px;
}

.links-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.links-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-text-color);
}

.subscribe-form {
  text-align: center;
}

.subscribe__title {
  margin-bottom: 20px;
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.subscribe-wrapper__input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-wrapper__icon--send {
  margin-left: 10px;
  fill: var(--other-color);
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .subscribe-wrapper__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .address-group,
  .address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .social-links {
    margin-left: 70px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .links-list {
    padding: 0;
  }

  .subscribe-form {
    margin-left: auto;
  }

  .subscribe__title {
    text-align: start;
  }

  .subscribe-wrapper {
    display: flex;
  }

  .subscribe-wrapper__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.bottom-form__submit {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--secondary-text-color);
  background-color: var(--button-color);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.bottom-form__icon {
  width: 24px;
  height: 24px;
}
