.our-team.section {
  background-color: var(--additional-background-color);
}
.our-team__card {
  background-color: var(--secondary-text-color);
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.our-team__title_staff {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.19;
  text-align: center;
}
.our-team__text_staff {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  column-gap: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color);
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icons-color);
  transition: fill var(--transition-dur-and-func);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--secondary-text-color);
  }
}
@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .our-team__card {
    height: 536px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__card {
    height: 428px;
    width: calc((100% - 8 * 15px) / 4);
  }
}
