:root {
  --primary-background-color: #f5f5f5;
  --secondary-background-color: #2f303a;
  --additional-background-color: #F5F4FA;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --button-color: #188ce8;
  --additional-address-color: rgba(255, 255, 255, 0.6);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --social-icons-color: #afb1b8;
  --logo-dark-color: #000000;
}
